.input {
  text-align: center;
}

.button {
  text-align: center;
}

.titulos {
  text-align: center;
}

.table-responsive {
  max-height: 200px;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 5px;
}

